node_modules
./src
./src/pages
./pages/api
./api
./next
.next
src/pages/api
/pages/api
/api
public
./public
.env.local
.env.development.local
.env.test.local
.env
.git
express.js
./express.js
jsconfig.json
/.next